.one1{
   color: orangered;}
.head{
    display: flex;
    align-items: center;
    padding: 20px 250px;
    
}

   .Himg{
    display: flex;
    align-items: center;
   }
   .title3{
    margin-left: 15px;
    
   }
   .buttons{
    margin-left: 400px;
    border: none;
    display: flex;
    width: 50px;
   }
   .two{
    margin-left: 45px;
    border: white;
    background:white;
   }
   .three{
    width: 1650px;
    display: flex;
  
   }
   .four{
    margin-left: 250px;
   }
   .five{
    margin-left: 170px;
   }
   .greeting{
    background-image: url(images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position-x: center;
    width: 1650px;
    height: 600px;
    align-items: center;
    
    
   }
   .grt-title{
    color: rgba(252, 252, 252, 0.932);
margin-left: 700px;
padding-top: 100px;
   }
   .titlename{
  
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
   }
   .grtform{
    color: rgb(52, 56, 59);
    display: flex;
    margin-left: 550px;
   }
  .input{
    border-radius: 7px;
    width: 130px;
    font-size: large;
    size: 10px;
    margin-right: 20px;
  }
  .input2{
    border-radius: 7px;
    width: 130px;
    color: aliceblue;
    font-size: larger;
   
    background-color: orangered;
  }
  .choose{
    font-size: xx-large;
    margin-top: 80px;
   margin-left: 650px;
  }

  .choose2{
    margin-left: 350px;
  }
  .row{
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  .six{
   width: 100%;
   height: 100%;
   margin-left: 250px;
  }
  .seven{
    margin-top: 80px;
   text-align: center;
  }
  .eight{
    text-align: center;
  }
.skill1{
    display: flex;
    justify-content: space-around;
}

 .skill3{
    width: 100px;
    border-radius: 6px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
 }
.skill2{
   text-align: center;
   border-radius: 6px;
   border: 1px solid rgba(251, 181, 99, 0.20);
   background: rgba(251, 181, 99, 0.05);

   }

   .nine{
    display: flex;
    margin-left: 220px;
    gap: 130px;
    margin-top: 50px;
   }
  
    .ten{
        height: 250px;
        width: 400px;
        border: solid salmon 2px;
        border-radius: 7px;
        text-align: center;
        
    }
    .newsletter{
        margin-top: 100px;
        display: flex;
        margin-left: 220px;
    gap: 85px;
    }
#upto{
    background-image: url(images/Rectangle\ 8\ \(1\).png);
    width: 600px;
    height:250px;
    border-radius: 9px;
}
.eleven{
    
    margin-top: 130px;
    color: rgb(0, 250, 75);
    margin-left: 350px;
}





   .Himg3{
    display: flex;
    align-items: center;
    display: block;
    align-items: center;
    width: 1440px;
    height: 400px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 50px;
    margin-left: 0px;

}

.foot {
    display: flex;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-left: 500px;
}
.nature {
    color: #131318;
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
    padding-left: 10px;
    margin-bottom: 15px;
}

.one {
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}

.foot-text {
    margin-left: 300px;
    width: 769px;
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 32px;
}

.icons {
    margin-right: 10px;
    display: inline-flex;
    width: 175px;
    height: 24px;
    margin-left: 600px;
    padding-bottom: 50px;
}

.last-text {
    margin-left: 550px;
    text-align: center;
    width: 191px;
    height: 19px;
    color: #131318;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 300;
}


  @media screen and (max-width:600px){

.buttons{
    margin-left: 20px;
    flex-direction: column;
}

    .greeting{
        background-image: url(images/Group\ 13\ \(1\)\ \(1\).png);
        background-repeat: no-repeat;
        background-position-x: center;
        width: 100%;
        height: 100%;
        align-items: center;
        
        
       }
       .grt-title{
        color: rgba(252, 252, 252, 0.932);
        margin-left: 150px;
       }

.grtform{
    margin-left: 200px;

    flex-direction: column;
}
.input{
    margin-top: 20px;
}
.input2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.three{
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.four{
    margin-left: 30px;
}
.five{
    margin-left: 10px;
}
.choose{
    margin-left: 90px;
}.seven{
    margin-left: 100px;
}
.choose2{
    margin-left: 30px;
}
.row{
    flex-direction: column;
    
}
.six{
    margin-left: 4px;
}
.skill1{
    flex-direction: column;
    margin-left: 150px;
}
.nine{
   
    margin-left: 10px;
    flex-direction: column;
}
.newsletter{
    width: 100%;
    height: 100%;
   margin-left: 10px;
    flex-direction: column;
}







.Himg3{
    display: flex;
    align-items: center;
    display: block;
    align-items: center;
    width: 600px;
    height: 400px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 50px;
    margin-left: 0px;

}

.foot {
    display: flex;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-left: 150px;
}
.nature {
    color: #131318;
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
    padding-left: 10px;
    margin-bottom: 15px;
}

.one {
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}

.foot-text {
    align-items: center;
    margin-left: 0px;
    width: 550px;
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 32px;
}

.icons {
    margin-right: 10px;
    display: inline-flex;
    width: 175px;
    height: 24px;
    margin-left: 250px;
    padding-bottom: 50px;
}

.last-text {
    margin-left: 195px;
    text-align: center;
    width: 191px;
    height: 19px;
    color: #131318;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 300;
}
  }
    